body {
    background-color: black;
}
.conteiner {
    color: white;
    text-align: center;
    margin: 20%;
}
button {
    color: white;
    border: none;
    height: 2em;
    width: 4em;
}
button:hover{
    cursor: pointer;
}
.start{
    background-color: green;
}
.pause {
    background-color: grey;
}
.stop {
    background-color: red;
}
