* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.conteiner {
    display: flexbox;
    color: white;
    text-align: center; 
    margin-top: 5%;
}

button {
    color: white;
    border: none;
    height: 2em;
    width: 4em;
}
button:hover{
    cursor: pointer;
}
.start{
    background-color: green;
}
.pause {
    background-color: grey;
}
.stop {
    background-color: red;
}
