* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
form {
    margin: 2%;
}
fieldset {
    border-radius: 3%;
    padding: 2%;
    border-color: deeppink;
}
input {
    font-size: 0.7em;
    margin: 2px;
}
.fotoBiscoito01 {
    width: 10em;
}
